
 
 .slider {
    background-color: rgba(255, 255, 255, 0.868);
    width: 1000px;
    height: 500px;
    overflow: hidden;
    margin-left: 400px;
    margin-top: 70px;
    border: 2px inset rgb(13, 14, 13);
    
 }
 

 
 .navigation {
    position: absolute;
    
    left: 57%;
    transform: translateX(-50%);
    display: flex;
 }
 
 .bar {
    width: 30px;
    height: 8px;
    margin: 6px;
    cursor: pointer;
    background-color: #000;
    opacity: .5;
    border-radius: 10px;
    transition: all 0.8s ease;
 }
 
 .bar:hover {
    opacity: 1;
    transform:scale(1.1);
 }
 
 input[name="r"] {
    position: absolute;
    visibility: hidden;
 }
 
 .slides {
    width: 1000px;
    height: 100%;
    display: flex;
 }
 
 .slide {
    width: 1000px;
    transition: all 0.7s ease;
 }
 
 .color {
    width: 1000px;
 }
 
 #r1:checked ~ .s1 {
    margin-left: 0;
 }
 
 #r2:checked ~ .s1 {
    margin-left: -2000px;
 }
 

.body {
    background: rgb(254,249,249);
    background: linear-gradient(0deg, rgba(254,249,249,0.7906512946975666) 24%, rgba(0,0,0,0.8718837876947654) 82%);}


p {
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 2;
    font-weight: 600;
}
h3 {
    color: rgb(9, 9, 9);
    font-size: 34px;
    font-weight: 900;
}
bdi {
    color: rgb(223, 52, 52);
    background-color: #38444d;
    display: inline;
    font-size: 25px;
}


.flex-direction-exemple > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
  }

.flex-direction-exemple {
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 61, 69);
    width: 90%;
    margin-left: 5%;    
}


.row > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
  }

.row {
    display: flex;
    flex-direction: row;
    background-color: rgb(49, 51, 54);
    width: 90%;
    margin-left: 5%;    
}

h6 {
    color: #f1f1f1;
    margin-left: 350px;
    padding-top: 70px;
    font-weight: 900;
    font-size: 40px;
}


